* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scoreboard {
  display: flex;
  width: 50vw;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
}

.userScore-cont,
.comScore-cont {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: space-around;
}

button {
  width: 100px;
  height: 50px;

}

#results {
  border: 5px solid lime;
  display: flex;
  height: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

#result-cont {
  text-align: center;
  margin-top: 45px;
}