<style> @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap'); </style>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: black;
  font-family: 'Patrick Hand', cursive;
  font-size: 2rem;
}

.wrapper {
  background-image: url(img/paper.jpg);
  height: 50vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.scoreboard {
  display: flex;
  width: 50vw;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  margin-bottom: 50px;
  justify-content: space-around;
  align-items: center;
}

.userScore-cont,
.comScore-cont {
 
}

.controls {
  display: flex;
  justify-content: space-around;
}

#rock,
#paper,
#scissors,
#endGame  {
  width: 100px;
  height: 50px;
  color: black;
  background-image: url(img/wrinkled.jpg);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.75rem;
}

#endGame {
  width: 150px;
}

.endBtn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

#results {
  display: flex;
  height: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

#result-cont {
  text-align: center;
  margin-top: 45px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 2px solid lime;
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(153, 153, 153);
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}